body {
    background-color: #f9f9fb;
}

.h2, h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    margin: 40px 0;
    color: #babaca;
}

.post-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
    width: calc(100% / 3 - 40px) !important;
    border: none;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.05);
}

.btn-primary {
    color: #fff;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    background-image: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px;
}

.card .btn-primary {
    width: 100%;
}

.navbar {
    background-color: #f2f2f5!important;
    padding: 10px 40px;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 800;
    color: #7b7b8c !important;
    font-size: 26px !important;
    margin-right: 40px !important;
}

.navbar-nav .nav-link {
    padding: 10px 20px !important;
    font-weight: 500;
}

.navbar-light .navbar-nav .btn {
    padding: 10px 20px;
    color: #fff;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}