<!DOCTYPE html>
<html lang="dk" xmlns:th="http://www.w3.org/1999/xhtml">

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/'}">Self care blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link btn btn-primary" th:href="@{'/add-post'}">New post</a>
            </li>
            <li th:if="${showEdit}" class="nav-item">
                <a class="nav-link btn btn-primary" th:href="@{'/edit-post'}+${id}}">Edit post</a>
            </li>
        </ul>
    </div>
</nav>