<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Self care blog</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $( document ).ready(function() {
            var d = new Date();
            var date = d.getDate() + "-" + d.getMonth()+1 + "-" + d.getFullYear();
            var time = d.getHours() + ":" + d.getMinutes();

            $("#date_input").val(date + ", " + time);
            $("#date_input").attr("value", "" + date + ", " + time + "");
        });
    </script>
</head>
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/'}">Self care blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link btn btn-primary" th:href="@{'/add-post'}">New post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-primary ml-4" th:href="@{'/edit-post/'+${post_.id}}">Edit post</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="post-image">
        <img th:src="${post_.image}"/>
    </div>

    <div class="row">
        <div class="col-9 mx-auto">
            <div class="single-post-wrapper">
                <h2 th:text="${post_.title}"></h2>

                <p th:text="${post_.text}"></p>

                <div class="cat-wrapper">
                    Category:
                    <div th:each="category : ${post_.getCategories()}">
                        <span th:text="${category.name}"></span>
                    </div>
                </div>

                <div class="comments-container">
                    <h3>Comments</h3>
                    <div th:each="comment : ${post_.getComments()}" class="comment-wrapper">
                        <div class="comment-header">
                            <div th:text="${comment.author}"></div>
                            <div th:text="${comment.datetime}"></div>
                        </div>

                        <div class="text">
                            <div th:text="${comment.comment}"></div>
                        </div>
                    </div>
                </div>

                <div class="comments-container new-comment">
                    <h3>Write a comment</h3>
                    <form th:action="@{'/view-post/'+${post_.id}}" th:method="post">
                        <input type="hidden" class="d-none" name="post_id" th:value="${post_.id}">

                        <div class="form-group">
                            <label>Date</label>
                            <input type="text" name="datetime" class="form-control" placeholder="Write your name here">
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="author" class="form-control" placeholder="Write your name here">
                        </div>

                        <div class="form-group">
                            <label>Comment</label>
                            <textarea type="text" name="comment" class="form-control" placeholder="Write your comment here"></textarea>
                        </div>

                        <div class="d-flex justify-content-end">
                            <input class="btn btn-primary" type="submit" value="Publish comment"/>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>